<div class="container py-20">
    {{ if title }}
        <x-heading class="text-center max-w-2xl mx-auto mb-14">
            {{ title }}
        </x-heading>
    {{ /if }}
    {{ if faq_items }}
        <x-accordion>
            {{ faq_items }}
                <x-accordion.item
                    class="border-b-2 border-primary-200 dark:border-dark-600 px-6 md:px-20 xl:px-32 py-7">
                    <x-accordion.trigger class="flex items-center justify-between gap-2">
                        {{ if title }}
                            <x-heading size="h5">
                                {{ title }}
                            </x-heading>
                        {{ /if }}
                        <div x-show="!show">
                            {{ svg src="arrow-up" class="size-5 shrink-0 fill-dark-400 rotate-180" }}
                        </div>
                        <div x-show="show" x-cloak>
                            {{ svg src="arrow-up" class="size-5 shrink-0 fill-dark-900 dark:fill-white" }}
                        </div>
                    </x-accordion.trigger>
                    {{ if rich_text }}
                        <x-accordion.content class="max-w-2xl">
                            <x-richtext size="lg" class="pt-3">{{ rich_text }}</x-richtext>
                        </x-accordion.content>
                    {{ /if }}
                </x-accordion.item>
            {{ /faq_items }}
        </x-accordion>
    {{ /if }}
</div>