<div class="bg-dark-900">
    <div class="container py-12 md:py-20">
        <x-heading color="white" class="text-center max-w-3xl mx-auto">{{ title }}</x-heading>
        {{ if features }}
            <div class="grid gap-6 md:gap-8 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 mt-16">
                {{ features }}
                    <div class="bg-white dark:bg-dark-700 rounded-lg p-5 lg:p-10">
                        {{ if light_image || dark_image }}
                            <div class="dark:hidden">
                                {{ partial:components/picture :image="light_image" class="size-8 shrink-0" }}
                            </div>
                            <div class="hidden dark:block">
                                {{ partial:components/picture :image="dark_image" class="size-8 shrink-0" }}
                            </div>
                        {{ /if }}
                        <div class="lg:mt-12 lg:mb-10 my-5">
                            {{ if title }}
                                <x-heading size="h5">{{ title }}</x-heading>
                            {{ /if }}
                            {{ if rich_text }}
                                <x-richtext class="mt-2">{{ rich_text }}</x-richtext>
                            {{ /if }}
                        </div>
                        {{ if has_link }}
                            <x-action-link href="{{ link }}" target_blank="{{ target_blank }}" size="xl">
                                {{ label }}
                            </x-action-link>
                        {{ /if }}
                    </div>
                {{ /features }}
            </div>
        {{ /if }}
    </div>
</div>
